<section class="content p-5">
  <h2 class="title mb-5 py-4">GENERATE TEXT</h2>
  <div class="row mt-5">
    <div class="col mb-5" align="center">
      <div class="w-100"><h4 class="fw-bold">Number of paragraphs</h4></div>
      <h4 class="text-white fw-bold">{{numberOfParagraphs}}</h4>
      <mat-slider aria-label="unit(s)" min="1" max="30" [value]="numberOfParagraphs" [(ngModel)]="numberOfParagraphs"></mat-slider>
    </div>
    <div class="col mb-5" align="center">
      <div class="w-100"><h4 class="fw-bold">Number of sentences</h4></div>
      <h4 class="text-white fw-bold">{{lorem.generator.sentencesPerParagraph.min}}</h4>
      <mat-slider aria-label="unit(s)" min="1" max="30" [value]="lorem.generator.sentencesPerParagraph.min" [(ngModel)]="lorem.generator.sentencesPerParagraph.min"></mat-slider>
    </div>
    <div class="col mb-5" align="center">
      <div class="w-100"><h4 class="fw-bold">Number of words</h4></div>
      <h4 class="text-white fw-bold">{{lorem.generator.wordsPerSentence.min}}</h4>
      <mat-slider aria-label="unit(s)" min="4" max="30" [value]="lorem.generator.wordsPerSentence.min" [(ngModel)]="lorem.generator.wordsPerSentence.min"></mat-slider>
    </div>
    <div class="col mb-5" align="center">
      <div class="w-100"><h4 class="fw-bold">Sus level <mat-icon matTooltip="Percentage of sus words inside the generated text">info</mat-icon></h4></div>
      <h4 class="text-white fw-bold">{{susLevel}}</h4>
      <mat-slider aria-label="unit(s)" min="1" max="10" [value]="susLevel" [(ngModel)]="susLevel"></mat-slider>
    </div>

  </div>
  <div class="actions">
    <mat-button-toggle-group>
      <mat-button-toggle class="primary" (click)="generateText()">GENERATE <mat-icon>autorenew</mat-icon></mat-button-toggle>
      <mat-button-toggle [disabled]="generatedText == ''" [cdkCopyToClipboard]="generatedText" (click)="toasterService.displayMessage('Text copied to clipboard')">COPY TEXT <mat-icon>content_copy</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field class="generatorarea" appearance="fill" class="example-full-width w-100">
    <textarea matInput placeholder="Generated text..." disabled>{{generatedText}}</textarea>
  </mat-form-field>
</section>